

/*New CSS STARTS FROM HERE */
html, body {
	height: 100%;
}

h1 {
  font-weight: bold;
}

.flexwindow{
  background-color: white;
  min-height: 100%;
  height: 100%;
  display: flex;
}

.content{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

  @media only screen and (max-width: 768px) {
    .content{
    flex-direction: column;
  }
}

.logo {
  min-width:400px;
  width: 40%;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}




@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/*New CSS ENDS HERE */
