

/*New CSS STARTS FROM HERE */
html, body {
	height: 100%;
}

.flexwindow{
  background-color: yellow;
  min-height: 100%;
  height: 100%;
  display: flex;
}

.content{
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
  }
}


.content h3, h1, h5{
  	margin: 5px 0px 0px 0px; 
}

a {
	margin-top: 6px;
	display: inline-block;
}


.colour {
  background: -webkit-linear-gradient(180deg, #00d39b, #4cb9c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h5 {
	font-weight: bold;
}

/*New CSS ENDS HERE */
